.top_nav li {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
.top_nav li:hover {
  background-color: #D3D3D3;
}
.top_nav li.active {
  color: white;
  background-color: black;
}
.top_nav li a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
  display: block;
}
.top_nav {
  text-align: center;
}
