<head>
  <title>STDIO Ghana{% if page.title %} - {{ page.title }}{% endif %}</title>
{% css_asset_tag globalcss %}
- /_assets/site.css.less
- /_assets/syntax.css.less
{% endcss_asset_tag %}
{% javascript_asset_tag globaljs %}
- /_assets/site.js
{% endjavascript_asset_tag %}
</head>
